
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="{{url}}static/css/custom.css">
      {% endblock stylesheets %}
    {% endblock head %}
  </head>

  <body style="background-color: #f2f2f2" class="{% block body_class %}nav-md {% endblock body_class %}">

  {% block body %}
    <div align="center">

      <br>
      <a href="{{url}}"> <img src="{{url}}static/images/logo3.png" class="img-responsive" width="200px"> </a>
      <br>

      <div style="max-width: 600px">
        <div style="background-color: white; border: 1px #e4e4e4 solid; text-align: left; ">
          <div style="margin:8% 8% 8% 8%;">
            <h3>{{ tittle }}</h3>
            <br>
            <p>{{ message | safe }}</p>

            </div>
            <div class="clearfix"></div>

        </div>

        <br>
        <div style="color: gray"> 
          <small> 
            Copyright © |
             <a style="color: gray; text-decoration: underline;" href="{{url}}">Cash4Home.com</a>
             All rights reserved. 
          </small>
        </div>

      </div>

    </div>
  {% endblock body %}
  
  </body>
</html>


