<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      {% endblock stylesheets %}
    {% endblock head %}
  </head>

  <body style="background-color: #f2f2f2" class="{% block body_class %}nav-md {% endblock body_class %}">

  {% block body %}
    <div align="center">

      <br>
        <a href="{{ protocol }}://{{ domain }}"> 
          <img src="{{ protocol }}://{{ domain }}/static/images/logo3.png" class="img-responsive" width="200px"> 
        </a>
      <br>

      <div style="max-width: 600px">
        <div style="background-color: white; border: 1px #e4e4e4 solid; text-align: left; ">
          <div style="margin:8% 8% 8% 8%;">
            <h3>Recuperación de contraseña</h3>
            <br>
            {% autoescape off %}
      				Para iniciar el proceso de recuperación de su cuenta de Cash4Home, haga click en el siguiente link:<br><br>

      				{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} <br><br>

      				Si el enlace no funciona, intente copiar y pegar el URL en su navegador web.<br><br>

              Si usted no fue quien solicitó la recuperación de su contraseña, por favor ignore este mensaje. 

              <br><br><br>

      				Sinceramente,<br>
      				Equipo de soporte de Cash4Home
      			{% endautoescape %}
            
            </div>
            <div class="clearfix"></div>

            <div class="separator">
            </div>
        </div>

        <br>
        <div style="color: gray"> 
          <small> 
            Copyright © |
             <a style="color: gray; text-decoration: underline;" href="{{url}}">Cash4Home.com</a>
             All rights reserved. 
          </small>
        </div>

      </div>

    </div>
  {% endblock body %}
  
  </body>
</html>
