{% extends "base_dashboard.html" %}
{% load mathfilters %}

{% block title %} Detalles de la operaciòn {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/css/imageModal.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>

      <div class="row">
        {% for message in messages %}
          <section class="table-view {{message.tags}}">
            <div class="container" style="display: table-cell; text-align: center; vertical-align: middle; padding-left: 15px;">
                {% if 'safe' in message.tags %}
                  {{ message | safe }}
                {% else %}
                  {{ message }}
                {% endif %}
            </div>
          </section>   
          <br>
        {% endfor %}

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Agregar transacción</h2>
              <div class="clearfix"></div>
            </div>
          </div>
          {{ form }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  
  <script type="text/javascript">
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    openModal = function(){
        modal.style.display = "block";
        modalImg.src = this.href;
        captionText.innerHTML = this.name;
        return false
    }
    
    $('a[class="tx_image"]').click(openModal)

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
  </script>
{% endblock javascripts %}
