{% extends "base_dashboard.html" %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>

      <div class="row">
        {% for message in messages %}
          <section class="table-view {{message.tags}}">
            <div class="container" style="display: table-cell; text-align: center; vertical-align: middle; padding-left: 15px;">
                {% if 'safe' in message.tags %}
                  {{ message | safe }}
                {% else %}
                  {{ message }}
                {% endif %}
            </div>
          </section>   
          <br>
        {% endfor %}

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Historico de la tasa de cambio <b>{{ rate }}</b></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <b>Tasa actual</b>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  {{ rate.rate | currency }} {{ rate }}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-md-offset-1 col-sm-offset-1">
                  <b>Fecha</b>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 ">
                  {{ rate.date }}
                </div>
              </div>
              <hr>
              <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Usuario</th>
                    <th class="column-title">Tasa</th>
                    <th class="column-title">Fecha</th>
                  </tr>
                </thead>

                <tbody>
                  {% for item in rate.history.all %}
                  <tr class="even pointer">
                    <td> 
                      {{ item.user }} 
                      <a href="{% url 'viewUser' item.user.id %}"> 
                        <i class="fa fa-search"></i>
                      </a>
                    </td>
                    <td>{{ item.rate | currency }} {{ rate }}</td>
                    <td>{{ item.date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <br>
            <div style="text-align: center">
              <a class="btn btn-primary" href="{% url 'adminExchangeRate' %}"><i class="fa fa-chevron-left"></i>&nbsp Volver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
{% endblock javascripts %}

