{% extends "base_dashboard.html" %}
{% load staticfiles %}


{% block content %}

  <div class="right_col" role="main">
    {% for message in messages %}
      <section class="table-view {{message.tags}}">
        <div class="container" style="display: table-cell; text-align: center; vertical-align: middle; padding-left: 15px;">
            {% if 'safe' in message.tags %}
              {{ message | safe }}
            {% else %}
              {{ message }}
            {% endif %}
        </div>
      </section>   
    {% endfor %} 
    <h1> INDEX </h1>
    <a href="/login">Login</a>
  </div>
{% endblock %} 