{% extends "base_dashboard.html" %}


{% block content %}

  <div class="right_col" role="main">
<!--     <section style=" height: 55px; background-color:#fece66; margin-top: 45px">
      <div class="container" style="padding-left: 10px;">
        Su cuenta no esta verificada. Para poder realizar una operación es necesario que verifique su cuenta.
        <button class="btn btn-primary"> Verificar </button>
      </div>
    </section>   -->  
    <h1> INDEX </h1>
    <a href="/login">Login</a>
  </div>
{% endblock %}