<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title" style="">
      <!-- <i class="logo"></i> -->
      <img style="float:left" src="/static/images/logo2.png" width="55px">
      <span style="padding-top: 20%; padding-left: 4%;">
        <img src="/static/images/title.png" width="120px">
      </span> 
    </a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
      <h3>Perfil</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-user"></i> Ver perfil</a></li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Operaciones</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Administración</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-book"></i> Operaciones <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Agregar</a></li>
            <li><a href="#">Editar</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-percent"></i> Tasas <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Agregar</a></li>
            <li><a href="#">Editar</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-money"></i> Monedas <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="#level1_1">Agregar</a>
              <li><a href="#level1_1">Editar</a>
          </ul>
        </li>
        <li><a><i class="fa fa-bank"></i> Cuentas <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="#level1_1">Agregar</a>
              <li><a href="#level1_1">Editar</a>
          </ul>
        </li>
        <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="#">Agregar</a>
              <li><a href="#">Editar</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
