<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title" style="">
      <!-- <i class="logo"></i> -->
      <img style="float:left" src="/static/images/logo2.png" width="55px">
      <span style="padding-top: 20%; padding-left: 4%;">
        <img src="/static/images/title.png" width="120px">
      </span> 
    </a>
  </div>

  <div class="clearfix"></div>
  <hr>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li>
          <a href="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
      </ul>

      <ul class="nav side-menu">
        <li><a href="/user/profile"><i class="fa fa-user"></i> Ver perfil</a></li>
      </ul>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bank"></i> Cuentas bancarias <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/accounts">Ver cuentas</a></li>
            <li><a href="/account/new?own=1">Añadir cuenta origen</a></li>
            <li><a href="/account/new?own=0">Añadir cuenta destino</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Operaciones <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/operation/new">Crear nueva</a></li>
            <li><a href="#">Ver pendientes</a></li>
            <li><a href="#">Ver historial</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Administración</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-book"></i> Operaciones <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Editar</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-percent"></i> Tasas <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'addExchangeRate' %}">Agregar</a></li>
            <li><a href="{% url 'adminExchangeRate' %}">Editar</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-money"></i> Monedas <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'addCurrencies' %}">Agregar</a>
              <li><a href="{% url 'adminCurrencies' %}">Editar</a>
          </ul>
        </li>
        <li><a><i class="fa fa-bank"></i> Cuentas <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'addAccount' %}">Agregar</a>
              <li><a href="{% url 'adminAccount' %}">Editar</a>
          </ul>
        </li>
        <li><a><i class="fa fa-bank"></i> Bancos <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'addBank' %}">Agregar</a>
              <li><a href="{% url 'adminBank' %}">Editar</a>
          </ul>
        </li>
        <li><a><i class="fa fa-calendar"></i> Feriados <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'addHoliday' %}">Agregar</a>
              <li><a href="{% url 'adminHoliday' %}">Editar</a>
          </ul>
        </li>
        <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'addUser' %}">Agregar</a>
              <li><a href="{% url 'adminUser' %}">Editar</a>
          </ul>
        </li>
        <li><a><i class="fa fa-globe"></i> Países <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="{% url 'addCountry' %}">Agregar</a>
              <li><a href="{% url 'adminCountry' %}">Editar</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
