{% extends "base_dashboard.html"%}

{% block title %} Crear Operación {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Mis cuentas de banco</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
<!--             <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
        <div class="x_panel">
          <div class="x_content">
            <h4>Cuentas fuera de Venezuela</h4>
            <p>Estas son las cuentas de las cuales usted puede enviar dinero a Venezuela</p>
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Banco </th>
                    <th class="column-title">Número de cuenta </th>
                    <th class="column-title">Titular</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="even pointer">
                    <td class=" ">Wells Fargo</td>
                    <td class=" ">1232131231000210</i></td>
                    <td class=" ">John Blank L</td>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div align="center">
                <a href="account/new">
                  <button type="button" class="btn btn-primary">Añadir cuenta</button>
                </a>
              </div>
            </div>
            <hr>
            <h4>Cuentas en Venezuela</h4>
            <p>Estas son las cuentas de sus parientes o amigos a quienes desea enviarles dinero</p>
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Banco </th>
                    <th class="column-title">Número de cuenta </th>
                    <th class="column-title">Titular</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="even pointer">
                    <td class=" ">Banco de Venezuela</td>
                    <td class=" ">1232131231000210</i></td>
                    <td class=" ">Juan Pérez</td>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div align="center">
                <button type="button" class="btn btn-primary">Añadir cuenta</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
{% endblock javascripts %}
