{% extends "base_dashboard.html" %}


{% block content %}
  <style type="text/css">
    /* Dropdown Button */


    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }


    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #gray;
    }

    tr td:last-child{
        width:1%;
        white-space:nowrap;
    }
  </style>
  <div class="right_col" role="main">
    {% for message in messages %}
      <section class="table-view {{message.tags}}">
        <div class="row">
        <div class="container" style="text-align: center; vertical-align: middle; padding-left: 15px;">
            {% if 'safe' in message.tags %}
              {{ message | safe }}
            {% else %}
              {{ message }}
            {% endif %}
        </div>
        <div class="row">
      </section>   
    {% endfor %} 

    <div class="">
      

      <div class="clearfix"></div>
      <div class='row'>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Precio de exchangers</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="row tile_count">

                {% for key, value in prices.items %}
                  <div class="col-md-3 col-sm-4 col-xs-6 dropdown">
                    <div class="dropbtn" align="center">
                      <span class="count_top">
                        <h2><i class="fa fa-money"></i> <b>BTC/{{ key }}</b></h2></span>
                        <h2>{{value | lookup:'symbol'}} {{ value | lookup:'avg' | currency }}</h2>
                      <div class="dropdown-content">
                        <div style="margin: 5%">
                          <table class="table" id="t-usd">
                            <thead>
                              <tr> <th> Exchanger </th> <th> Precio</th></tr>
                              {% for exchanger, price in value.prices.items %}
                              <tr>
                                <td> {{ exchanger }} </td>
                                <td> {{value | lookup:'symbol'}} {{ price | currency }} </td>
                              </tr>
                              {% endfor %}
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>

{% endblock javascripts %}





