{% extends "base_dashboard.html" %}

{% block title %} Lista de monedas {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/css/dragndrop.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Crear operación</h3>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h4>Hemos creado la operación</h4>
            </div>
            <div class="x_content">
              {% for message in messages %}
                <div class="alert {{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
              <p> Su operación fue creada exitosamente. </p>
              <p> Para continuar debe realizar una transferencia bancaria con los datos en la tabla que se muestra mas adelante. Una vez que haya completado la transferencia, deberá subir una imagen de un comprobante del banco con el cual podamos realizar la verificación.</p>
              
              <style type="text/css">
                td {
                  font-size: 13px;
                  width: 140px;
                }
                tr {
                  height: 50px;
                  border-bottom: 1px solid;
                }
              </style>
              <div align="center">
                <table style="width: 40%">
                  <tr>
                    <td><b>Banco:</b></td>
                    <td> {{ bank_name }} </td>
                  </tr>

                  <tr>
                    <td><b>Cuenta:</b></td>
                    <td> {{ bank_account }} </td>
                  </tr>
                  {% if bank_aba %}
                  <tr>
                    <td><b>Número ABA:</b></td>
                    <td> {{ bank_aba }}</td>
                  </tr>
                  {% endif %}

                  <tr>
                    <td><b>Monto:</b></td>
                    <td> {{ amount }} </td>
                  </tr>

                </table>
                <br><br>
                <a href="/">
                  <button class="btn btn-primary">
                    Regresar
                  </button>
                </a>
                <a href="{% url 'verifyOperation' operationID %}">
                  <button class="btn btn-primary">
                    Subir comprobante
                  </button>
                </a>
              </div>



            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/fileupload.js"></script>
{% endblock javascripts %}
