{% extends "base_dashboard.html" %}

{% block title %} Lista de monedas {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/css/dragndrop.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Verificar operación</h3>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              {% for message in messages %}
                <div class="alert {{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
              <p> Suba una imagen o comprobante con el cual podamos verificar que realizó la transferencia</p>
              
                
              <form id="upload" action="{% url 'verifyOperation' id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <input type='file' class="from-control" name="file" id="file" onchange="readURL(this, 'img');" />
                  </div>
                </div>
                <div class="row">
                  <br>
                  <a href="#" onclick="getAcceptedExtension('file')">
                    <div class="col-xs-12 col-sm-12 col-md-6" style="height: 300px; width: 400px; display: table;">
                      <div style="display: table-cell; vertical-align: middle;">
                        <div style="display: flex; align-items: center; justify-content: center;">
                          <img width="100%" class="imageUpload" id="img" src="/static/images/placeholder.png" alt="your image"/>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <br>
                <a href="{% url 'pendingOperations' %}"><button type="button" class="btn btn-primary">Cancelar</button></a>
                <button type="submit" class="btn btn-primary">Continuar</button>
              </form>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/fileupload.js"></script>
{% endblock javascripts %}
