{% extends "base_dashboard.html" %}

{% block title %} Lista de monedas {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/css/dragndrop.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>

      <div class="row">
        

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h1>Verificar identidad</h1>
            </div>
            <div class="x_content">
              {% for message in messages %}
                <div class="alert {{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
              <p> Para poder realizar operaciones en la plataforma de Cash4Home, es necesario que verifique su identidad. </p>
              <p> Debe subir una imagen de un documento de identidad vigente (cédula, pasaporte, licencia de conducir) lo suficientemente nítida. Además debe contener su nombre completo y una foto de su rostro.</p>
              <p> Igualmente debe subir una foto de usted sosteniendo dicho documento de identificación. </p>
              
              <form id="upload" action="{% url 'userVerification' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Documento de identificacion -->
                <div class="row">
                  <div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-12">
                    <br>
                    <h2>Documento de identidad </h2>
                    <hr>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <input type='file' name="file1" id="file1" onchange="readURL(this, 'img_file1');" />
                      </div>
                    </div>
                    <div class="row">
                      <br>
                      <a href="#" onclick="getAcceptedExtension('file1')">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="height: 300px; width: 400px; display: table;">
                          <div style="display: table-cell; vertical-align: middle;">
                            <div style="display: flex; align-items: center; justify-content: center;">
                              <img width="100%" class="imageUpload" id="img_file1" src="/static/images/id_placeholder.png" alt="your image"/>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Selfie -->
                  <div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-12">
                    <br>
                    <br>
                    <h2>Selfie con el documento</h2>
                    <hr>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <input type='file' name="file2" id="file2" onchange="readURL(this, 'img_file2');" />
                      </div>
                    </div>
                    <div class="row">
                      <br>
                      <a href="#" onclick="getAcceptedExtension('file2')">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="height: 300px; width: 400px; display: table;">
                          <div style="display: table-cell; vertical-align: middle;">
                            <div style="display: flex; align-items: center; justify-content: center;">
                              <img width="100%" class="imageUpload" id="img_file2" src="/static/images/selfie_placeholder.png" alt="your image"/>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="row">
                  <div class="col-md-offset-4 col-md-11 col-sm-12 col-xs-12">
                    <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Cancelar</button></a>
                    <button type="submit" class="btn btn-primary">Continuar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/fileupload.js"></script>
{% endblock javascripts %}
