{% extends "base_dashboard.html" %}

{% block content %}
  <div class="right_col" role="main">
    
    <div class="x_panel">
      <br><br>
      <div class='row'>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xs-offset-3" style="margin-bottom: 50px;">
          <!-- <div class="text-center admin_content"> -->
          <div class="text-center">
            <h3>¡Gracias por verificar su identidad!</h3>
          </div>
          <br>
          <h5>
            
            <p style="text-align: justify;">
              Gracias por verificar su identidad en Cash4Home. Una vez que nuestro equipo haya validado su información podra realizar sus operaciones. Un correo electrónico se le enviará cuando se haya completado la verificación
            </p>
            <br>
            <div align="center">
              <a href="{% url 'dashboard' %}"><button class="btn btn-primary">Regresar</button></a>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}